.App {
  text-align: center;
  font-family: Roboto;
  font-size: 2em
}

img {
  width: 5em;
  height: 5em;
  object-fit: contain;
}

.header {
  padding: 4rem 2rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.animals {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}

