.App {
  text-align: center;
  font-family: Roboto;
  font-size: 2em
}

img {
  width: 6em;
  height: 6em;
  object-fit: contain;
}

.header {
  padding: 1rem 1rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  background: url('./background.png') repeat;
  background-size: cover;
}

h1 {
  background-color: white;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px
}

.animals {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}

